body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('./fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {  
    height: 100px; 
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para a mensagem de feedback */
#mensagemFeedback {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* Para a mensagem de erro */
#mensagemFeedback p {
    margin: 0;
}
